//<!-- ****************************************** -->
//<!--               $CONTENIDO                   -->
//<!-- ****************************************** -->

//* SUSY...................Configuracion por defecto de Susy
//* BODY..................."Introducir comentario"
//* HEADER................."Introducir comentario"
//* SECTION................"Introducir comentario"
//* FOOTER................."Introducir comentario"

//<!-- ------------ END CONTENIDO --------------- -->
//<!-- ****************************************** -->



/*<!-- ------------------------------------------ -->*/
/*<!--                  $SUSY                     -->*/
/*<!-- ------------------------------------------ -->*/
@import 'susy';
@import 'breakpoint';

$susy: (
    gutter-position: after,
    columns: 12,
    gutters: 0.25,
    debug: (
        image: hide,
        color: rgba(#66f, 0.25),
        output: background,
        toggle: top right,
    )
);
/*<!-- -------------- END $susy ---------------- -->*/
/*<!-- ------------------------------------------ -->*/


/*<!-- ------------------------------------------ -->*/
/*<!--                  $BODY                     -->*/
/*<!-- ------------------------------------------ -->*/

/*<!-- --------------- END $body ---------------- -->*/
/*<!-- ------------------------------------------ -->*/



/*<!-- ------------------------------------------ -->*/
/*<!--                 $HEADER                    -->*/
/*<!-- ------------------------------------------ -->*/

/*<!-- ------------- END $header ---------------- -->*/
/*<!-- ------------------------------------------ -->*/



/*<!-- ------------------------------------------ -->*/
/*<!--                $SECTION                    -->*/
/*<!-- ------------------------------------------ -->*/

/*<!-- ------------ END $section ---------------- -->*/
/*<!-- ------------------------------------------ -->*/



/*<!-- ------------------------------------------ -->*/
/*<!--                 $FOOTER                    -->*/
/*<!-- ------------------------------------------ -->*/

/*<!-- ------------- END $footer ---------------- -->*/
/*<!-- ------------------------------------------ -->*/